Source: coova-chilli
Section: net
Priority: optional
Maintainer: David Bird (Coova Technologies) <support@coova.com>
Build-Depends: debhelper (>= 9), gengetopt, libtool, libssl-dev, libjson-c-dev, dh-autoreconf
Standards-Version: 3.8.1
Homepage: http://coova.github.io/

Package: coova-chilli
Architecture: any
Replaces: chillispot
Conflicts: chillispot
Provides: chillispot
Depends: iptables, haserl, adduser, ${shlibs:Depends}, ${misc:Depends}
Description: Wireless LAN Access Point Controller (captive portal)
 Coova-Chilli is an open source captive portal or wireless LAN access point
 controller, forked from chillispot. It supports web based login which is
 today's standard for public HotSpots and it supports Wireless Protected Access
 (WPA) which is the standard of the future. Authentication, Authorization and
 Accounting (AAA) is handled by your favorite radius server.
