#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	# disable proxyvsa until 262 is fixed
	dh_auto_configure -- --enable-largelimits \
	--disable-proxyvsa --enable-miniportal --enable-chilliredir \
	--enable-chilliproxy --enable-binstatusfile --enable-chilliscript \
	--enable-chilliradsec --enable-dnslog --enable-layer3 --enable-eapol \
	--enable-uamdomainfile --enable-redirdnsreq --enable-modules \
	--enable-multiroute --enable-extadmvsa --with-openssl --with-poll \
	--enable-json --enable-location
	# --enable-libjson

override_dh_installinit:
	dh_installinit --name chilli
